.bubble {
    /* background-color: blue; */
    background-image: url('../assets/bubble.png');
    background-size: cover;
    width: 330px;
    height: 330px;
    z-index: -1;
    position: absolute;
    left: 75px;
    top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        background-image: url('../assets/coms.png');
        background-size: cover;
        z-index: 1;
        width: 175px;
        height: 75px;
    }
}