.game-description {
    display: flex;
    flex-direction: column;
    padding: 1em;

    .game-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
    }
}
