.game-info {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    .game-author {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .game-details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
        justify-content: space-between;
        gap: 1rem;

        .game-description {
            display: flex;
            flex-direction: column;
        }

        .game-genres {
            display: flex;
            flex-direction: column;

            .game-tags {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                justify-content: flex-start;
            }
        }
    }

    .leaderboard-flex-parent {
        display: flex;

        .leaderboard-flex-table {
            flex: 2;
        }

        .leaderboard-flex-checkbox {
            margin-left: 5px;
        }
    }

    .game-leaderboard {
        display: flex;
    }
}
