.game-description {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    .game-author {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .game-details {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .game-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: flex-start;
        }
    }

    .game-leaderboard {
        display: flex;
    }
}
