.game-gallery-container {
    background-color: var(--color-white);
    border: var(--border-stroke-md) solid var(--color-blue);
    border-radius: var(--border-radius);
    padding: 3vh 0.5vh;
    margin: 2vw;

    .game-gallery-header {
        margin: 20px;
    }

    .game-gallery {
        margin: 20px;
        padding: 12px 6px;
    }
}
