.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .navigation-logo {
        display: flex;
        padding-left: 2vw;
    }

    .navigation-search {
        display: flex;
        flex-direction: row;
        width: 57vw;
        gap: 1vw;
    }

    .navigation-menu {
        display: flex;
        padding-right: 2vw;
    }
}
